node_modules
package-lock.json
yarn.lock

src/components/*
!src/components/.gitkeep

# Activating git on these files to not lose progress at start
# src/saves/*
!src/saves/_components.js

!src/saves/.gitkeep
